  <div class="ui inverted vertical masthead left aligned segment">
    <div class="ui text container header">
      <h1 class="ui inverted header left aligned">
        Connect, Create, Get things done.
      </h1>
      <h2 class="ui inverted header left aligned">Be productive and creative</h2>
      <div class="ui huge secondary button"><a class="ui link-started" routerLink="/inbox">Get Started</a><i class="right arrow icon"></i></div>
    </div>
    <div class="ui text container"></div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container wrapper">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Free, Fast and Reliable Connection</h3>
          <p>Angular Email promises you fast and reliable connection for free for good.</p>
          <h3 class="ui header">Email and Calender together in one place</h3>
          <p>Stay on top of your most important messages and events.</p>
        </div>
        <div class="six wide right floated column">
          <img src="/assets/static/image/connection.jpg" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="ui container wrapper-button">
        <div class="center aligned column">
          <a class="ui huge primary button" routerLink="/inbox">Sign In</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
        <div class="ui two column grid center">
            <div class="column fit">
                <img class="ui medium circular image" src="/assets/static/image/security.jpg">
            </div>
            <div class="column">
                <h3 class="ui header">Security protection with 24/7 customer support</h3>
                <p>Data is always encrypted throuout the transmission</p>
                <a class="ui large button">Read More</a>
            </div>
        </div>
        <div class="ui two column grid">
            <div class="column fit">
                <h4 class="ui horizontal header divider">
                </h4>
                <h3 class="ui header">Integrate with our partners to boost your productivity</h3>
                <p>Our partners offer a variety of office suits to provide seamless CRM experience</p>
                <a class="ui large button">Learn More</a>
            </div>
            <div class="column">
                <img class="ui medium circular image" src="/assets/static/image/dashboard.jpg">
            </div>
        </div>
    </div>
  </div>  
